@import '../variables.module.css';
tr{
    color: white;
}

th:hover{
    border-bottom: none !important;
}

th{
    border-bottom: none !important;
    cursor: default !important;
}

.backup-file-download
{
    cursor: pointer;
}

td{
    border-bottom: none !important;
}

.upload-file
{
    background-color:  var(--secondary-background-color) !important;
    border-color:  var(--secondary-background-color) !important;
    color: white !important;
}

.upload-file:focus
{
    box-shadow: none !important;
}
