@import "../variables.module.css";
tr {
  color: white;
}

th:hover {
  border-bottom: none !important;
}

th {
  border-bottom: none !important;
  cursor: default !important;
}

td {
  border-bottom: none !important;
}
