tr{
    color: white;
}

th:hover{
    border-bottom: none !important;
}

th{
    border-bottom: none !important;
    cursor: default !important;
    /* background-color: rgba(0, 0, 0, 0.8) !important; */
}

.backup-file-download
{
    cursor: pointer;
}

td{
    border-bottom: none !important;
}

.upload-file
{
    background-color: rgb(100, 100, 100,0.2) !important;
    border-color: rgb(100, 100, 100,0.2) !important;
    color: white !important;
}

.upload-file:focus
{
    box-shadow: none !important;
}