@import '../variables.module.css';
.show-key
{
  margin-bottom: 20px;;
}


.settings{
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 8px;
}

.tasks {

  color: white;
  /* margin-inline: 10px; */

}


.settings-form {

    color: white;
    margin-top: 20px;
    margin-inline: 10px;

  }


  .form-row
  {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    align-items: flex-start;
    gap: 20px;
  }

  .form-row label {
    font-weight: bold;
    font-size: 18px;
  }

  .form-row input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    max-width: 700px;
  }


  .submit
  {
    font-weight: bold;
    margin-bottom: 5px;
  }




  .settings-form > div> div> .form-control,
  .settings-form > div> div> .input-group> .form-control
  {
    color: white !important;
    background-color: var(--background-color) !important;
    border-color: var(--background-color) !important;
  }

  .settings-form > div> div> .input-group> .btn
  {
    border: none !important;
  }

  
  .settings-form > div> div> .form-control:focus,
  .settings-form > div> div> .input-group> .form-control:focus
  {
    box-shadow: none !important;
    border-color: var(--primary-color) !important;
  }