@import '../variables.css';
.version
{
    background-color: var(--background-color) !important;

    color: white !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    margin: 0 8px;
    max-width: 184px;
    text-align: center;
    width: calc(200px - 16px);

  
}

.version .card-body {
    font-size: 16px;
    padding: 14px 8px;
}


.version a
{
    text-decoration: none;
}

.version a:hover
{
    text-decoration: underline;
}

.nav-pills > .nav-item , .nav-pills > .nav-item > .nav-link
{
    color: white !important;
}

.nav-pills > .nav-item .active  
{
    background-color: var(--primary-color) !important;
    color: white !important;
}

.nav-pills > .nav-item :hover
{
    background-color: var(--primary-color) !important;
}

.nav-pills > .nav-item  .active> .nav-link
{
   color: white;
}
