@import "../variables.module.css";

.activity-table {
  background-color: var(--secondary-background-color);
  color: white !important;
}

td,
th,
td > button {
  color: white !important;
  background-color: var(--tertiary-background-color);
}

th {
  color: white !important;
  background-color: rgba(200, 200, 200, 0.2);
}

.activity-client:hover {
  color: var(--secondary-color) !important;
}
.activity-client:hover > span {
  cursor: pointer;
  color: var(--secondary-color) !important;
}

td > a {
  color: white;
}

td:hover > a {
  color: var(--secondary-color);
}

.page-number {
  margin-inline: 10px;
  color: white;
}

select option {
  background-color: var(--secondary-background-color);
  outline: unset;
  width: 100%;
  border: none;
}

.pagination-range .items {
  background-color: rgb(255, 255, 255, 0.1);
  padding-inline: 10px;
}

.pagination-range .header {
  padding-inline: 10px;
  align-self: center;
}

.pagination-range {
  width: 130px;
  height: 35px;
  color: white;
  display: flex;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  font-size: 1.2em;
  align-self: flex-end;
  justify-content: space-between;
}

.pagination-range select {
  height: 35px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
}

.page-btn {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.MuiTableCell-head > .Mui-active,
.MuiTableSortLabel-icon {
  color: var(--secondary-color) !important;
}

.MuiTableCell-head :hover {
  color: var(--secondary-color) !important;
}

.modal-header {
  color: white;
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.modal-content {
  background-color: var(--secondary-background-color) !important;
}

::-webkit-scrollbar {
  width: 10px; /* set scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* set track color */
}

::-webkit-scrollbar-thumb {
  background-color: #8888884d; /* set thumb color */
  border-radius: 5px; /* round corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #88888883; /* set thumb color */
}
