
.activity-table
{
    background-color: rgba(100,100, 100, 0.2);
    color: white !important;
    
}

td,th, td>button
{
  color: white !important;
  background-color: rgba(100,100, 100, 0.2);

}

th
{
  color: white !important;
  background-color: rgba(200, 200, 200, 0.2);

}



td > a
{
  color: white;
}

td:hover > a
{
  color: #00A4DC;
}

.page-number {
  margin-inline: 10px;
  color: white;
}

select option {
  background-color: #4a4a4a;
  outline: unset;
  width: 100%;
  border: none;
  
  }
  
.pagination-range .items
{
background-color: rgb(255, 255, 255, 0.1);
padding-inline: 10px;
}

  .pagination-range .header
{
padding-inline: 10px;
align-self: center;
}

.pagination-range
{
width: 130px;
height: 35px;
color: white;
display: flex;
background-color: rgb(100, 100, 100,0.3);
border-radius: 8px;
font-size: 1.2em;
align-self: flex-end;
justify-content: space-between;
}

.pagination-range select
{

height: 35px;
outline: none;
border: none;
border-radius: 8px;
background-color: rgb(255, 255, 255, 0.1);
color:white;
font-size: 1em;


}

.page-btn
{
  background-color: rgb(90 45 165) !important;
  border-color:  rgb(90 45 165) !important;
}