@import '../variables.module.css';

.activity-table
{
    background-color: var(--secondary-background-color);
    color: white !important;
    
}

td,th, td>button
{
  color: white !important;
  background-color: var(--tertiary-background-color);

}

th
{
  color: white !important;
  background-color: rgba(200, 200, 200, 0.2);

}



td > a
{
  color: white;
}

td:hover > a
{
  color: #00A4DC;
}

.page-number {
  margin-inline: 10px;
  color: white;
}

select option {
  background-color: var(--secondary-color);
  outline: unset;
  width: 100%;
  border: none;
  
  }
  
.pagination-range .items
{
background-color: rgb(255, 255, 255, 0.1);
padding-inline: 10px;
}

  .pagination-range .header
{
padding-inline: 10px;
align-self: center;
}

.pagination-range
{
width: 130px;
height: 35px;
color: white;
display: flex;
background-color:  var(--secondary-background-color);
border-radius: 8px;
font-size: 1.2em;
align-self: flex-end;
justify-content: space-between;
}

.pagination-range select
{

height: 35px;
outline: none;
border: none;
border-radius: 8px;
background-color: rgb(255, 255, 255, 0.1);
color:white;
font-size: 1em;


}

.page-btn
{
  background-color:  var(--primary-color) !important;
  border-color:  var(--primary-color)!important;
}

.MuiTableCell-head >  .Mui-active, .MuiTableSortLabel-icon
{
  color: var(--secondary-color) !important;
}

.MuiTableCell-head :hover
{
  color: var(--secondary-color) !important;
}