div a
{
    text-decoration: none;
    color: white;
}

.table-rows:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}

.table-rows-content div:hover a
{
    color: #00A4DC;
}

.activity-table
{
    background-color: rgba(100,100, 100, 0.2);
    color: white;
    
}

.table-rows-content{
    margin-bottom: 10px;
}


.table-headers div {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 1.2em;
    cursor: pointer;
}

.table-headers div:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.table-headers, .table-rows-content
{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
}

.table-headers div,
.table-rows-content div
{
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  padding: 10px;
}

.table-headers div:last-child,
.table-rows-content div:last-child
{
  border-right: none;

}

.sub-table {
    overflow: hidden;
    max-height: 0; /* set the height to 0 to collapse the div */
    opacity:0;
    transition: all 0.3s ease;
  }

  .collapsed {
    transition: all 0.3s ease;
    opacity: 100;
    max-height: min-content;
  }

.sub-row{
    color: darkgray;
    margin-bottom: 0;
}

.sub-row a{
    color: darkgray;
}

.sub-row a:hover{
    color: #00A4DC;
}



.sub-row:last-child
{
    margin-bottom: 50px;
}

.bg-grey
{
    background-color: rgb(100, 100, 100,0.2);
}