.item-detail-container
{
    color:white;
    background-color: rgb(100, 100, 100,0.2);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;    
}

.item-name
{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}
.item-image
{
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

