@import '../variables.module.css';
.item-detail-container
{
    color:white;
    background-color:  var(--secondary-background-color);
    margin: 20px 0;
}

.item-banner-image
{
    margin-right: 20px;
}

.item-name
{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}
.item-image
{
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.item-details div a{
    text-decoration: none !important;
    color: white !important;
  }
  
  .item-details div a:hover{
    color: var(--secondary-color) !important;
  }
  