
.Activity 
{
  border-radius: 5px;
}

.Activity ul
{
  list-style-type: none !important;
  color: white;
  width: fit-content;

}

.ActivityDetail
{
  font-size: 1em;
  padding-bottom: 5px;
}

.ActivityTime
{
  /* text-align: right; */
  font-size: small;
  font-style: italic;
  color: lightgray;
}
ul{
    margin: 0;
    padding: 0;
  }
  
  li.old {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }
  
  li.new {
  
    /* border: 2px solid grey; */
    border-radius: 5px;
    padding:10px 10px;
    margin:10px 10px 0px 0px;
  
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    background-color: rgba(0, 0, 0, 0.4);
  }
  