.error
{
    margin: 0px;
    height:  calc(100vh - 100px);
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 9999; */
    background-color: #1e1c22;
    transition: opacity 800ms ease-in;
    opacity: 1;
    color: white;
}


.error .message
{
    color:crimson;
    font-size: 1.5em;
    font-weight: 500;
}

.error-title
{
    color:crimson;
    font-weight: 500;
}