.error
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error .message
{
    color:crimson;
    font-size: 1.5em;
    font-weight: 500;
}