.error
{
    margin: 0px;
    height:  calc(100vh - 100px);
 
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 9999; */
    background-color: #1e1c22;
    transition: opacity 800ms ease-in;
    opacity: 1;
}

.error .message
{
    color:crimson;
    font-size: 1.5em;
    font-weight: 500;
}