@import './variables.module.css';
.last-played-container {

    display: flex;
    overflow-x: scroll;
    background-color:  var(--secondary-background-color);
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
    min-height: 300px;
 
}

.last-played-container::-webkit-scrollbar {
    width: 5px; /* set scrollbar width */
  }

  .last-played-container::-webkit-scrollbar-track {
    background-color: transparent; /* set track color */
  }

  .last-played-container::-webkit-scrollbar-thumb {
    background-color: #8888884d; /* set thumb color */
    border-radius: 5px; /* round corners */
    width: 5px;
  }



  .last-played-container::-webkit-scrollbar-thumb:hover {
    background-color: #88888883; /* set thumb color */
  }



.last-card
{
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    width: 150px;
    border-radius: 8px;
       background-color:  var(--background-color);

}


.episode{
  width: 220px !important;
  height: 128px !important;

}

.episode-card{
  width: 220px !important;


}


.last-card-banner {
  width: 150px;
  height: 220px;
  transition: opacity 0.2s ease-in-out;
}



.last-card-banner:hover {
  opacity: 0.5;

}


.last-card-banner img {
  width: 100%;
  height: 100%;

  border-radius: 8px 8px 0px 0px;

}

.last-item-details {
    width: 90%;
    position: relative;
    margin: 10px;
}

.last-item-details a{
  text-decoration: none !important;
  color: white !important;
}

.last-item-details a:hover{
  color:  var(--secondary-color) !important;
}


.last-item-name {
    overflow: hidden;
    text-overflow: ellipsis;

}

.last-item-episode {

    overflow: hidden;
    text-overflow: ellipsis;
    color:gray;
    font-size: 0.8em;
}

 .number{
    margin-inline: 10px;
    padding-bottom: 10px;
}



.last-last-played{
    font-size: 0.8em;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

