@import './variables.module.css';
.loading {

    margin: 0px;
    height:  calc(100vh - 100px);
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    transition: opacity 800ms ease-in;
    opacity: 1;
  }
  
.loading::before
{
  opacity: 0;
}

  
  .loading__spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  