@import './variables.module.css';
.navbar {
  background-color: var(--secondary-background-color);
  border-right: 1px solid #414141 !important;
}

@media (min-width: 768px) {
  .navbar {
    min-height: 100vh;
    border-bottom: 1px solid  #414141  !important;

  }
}

.navbar .navbar-brand{
  margin-top: 20px;
  font-size: 32px;
  font-weight: 500;
}

.navbar .navbar-nav{
  width: 100%;
  margin-top: 20px;
}

.logout
{

  color: var(--secondary-color) !important;
}
.navbar-toggler > .collapsed
{
  right: 0;
}
/* .navbar-toggler-icon
{
  width: 100% !important;
} */



.navitem {

  color: white;
  font-size: 18px !important;
  text-decoration: none;
  margin-right: 10px;
  background-color: var(--background-color);
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 90%;
}

@media (min-width: 768px) {
  .navitem {
    border-radius: 0 8px 8px 0;
  }
}

.navitem:hover {
  background-color: var(--primary-color);
}

.active
{
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;
}


.nav-link
{
  display: flex !important;
}


.nav-text {
  margin-left: 10px;
}





