.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #5a2da5;
  /* background: linear-gradient(to right, #AA5CC3,#00A4DC); */
  height: 50px;
  /* position: sticky;
  top: 0; */
}


.navitem {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 0 20px;
  transition: background-color 0.2s ease-in-out;
}


.nav-text {
  margin-left: 10px;
}

.active
{
  /* background-color: #308df046 !important; */
  background-color: rgba(0,0,0,0.6);
  transition: background-color 0.2s ease-in-out;
}

.navitem:hover {
  /* background-color: #326aa541; */
  background-color: rgba(0,0,0,0.4);

}

