.sessions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 540px));
  grid-auto-rows: 270px; /* max-width+offset so 215 + 20*/
  /* margin-right: 20px; */
}

.session-details {
  margin: 0px !important;
  padding: 0px !important;
}

.session-details-title {
  color: lightgray !important;
  min-width: 70px;
  padding: 0px !important;
}

.card-device-image-overlay {
  position: absolute;
  top: 5px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  z-index: 10; /* Ensure it appears above other elements */
}

.session-card {
  position: relative; /* Add this */
  border: 0 !important;
  background-color: var(--background-color) !important;
  color: white;
  max-width: 520px;
  max-height: 220px;
}

.progress-bar {
  /* grid-row: 2 / 3;
    grid-column: 1/3; */
  height: 5px;
  background-color: #101010 !important;
  border-radius: 0px 0px 8px 8px;
}

.progress-custom {
  height: 100%;
  background-color: #00a4dc;
  transition: width 0.2s ease-in-out;
  border-radius: 0px 0px 0px 8px;
}

.card-banner {
  max-height: inherit;
  height: 215px;
  grid-row: 1 / 2;
  grid-column-start: 1;
}

.card-details {
  padding-left: 5px;
  max-height: inherit;
  width: inherit;

  grid-row: 1 / 3;

  grid-column: 2 / 3;
  backdrop-filter: blur(1px);
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 0px 8px 0px 0px;
}

.session-card-banner-image {
  max-width: 160px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.card-user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;

  bottom: 30px;
  right: 0;
  padding-right: 5px;
  position: absolute;
}

.session-card-user-image {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  margin-left: 5px;
}

.card-user-image-default {
  /* width: 50px !important; */
  font-size: large;
}

.card-username {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.card-username a {
  text-decoration: none;
  color: white;
}

.card-username:hover a {
  color: rgb(0, 164, 219);
}

.card-device {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  /* grid-column-gap: 10px; */
}

.card-device-name {
  font-size: small;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.card-device-image {
  max-width: 40px;
  margin-top: 5px;
  width: 100%;
  height: min-content;
}

.card-client {
  font-size: small;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.card-item-name {
  bottom: 45px;
  margin-left: 5px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: absolute;
}

.card-playback-position {
  bottom: 5px;
  /* right: 5px; */
  /* text-align: right; */
  /* position: absolute; */
}

.device-info {
  margin-bottom: 100%;
}

.card-ip {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.card-text > a {
  text-decoration: none !important;
  color: white !important;
}

.card-text a:hover {
  color: var(--secondary-color) !important;
}

.ellipse {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.session-card-item-image {
  width: 160px !important;
  height: 220px;
  border-radius: 8px 0px 0px 0px !important;
}

@media (max-width: 350px) {
  .card-device-image {
    display: none;
  }

  .card-client-version,
  .session-card-user-image {
    display: none !important;
  }
}
