@import './variables.module.css';

.sessions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 520px));
    grid-auto-rows: 200px;/* max-width+offset so 215 + 20*/
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    padding: 20px;
}

.session-card {
    display: flex;
    color: white;

    background-color: grey;

    max-height: 180px;
    max-width: 500px;


    background-size: cover;
    border-radius: 8px 8px 0px 8px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;

}

.progress-bar {

    height: 5px;
    background-color: #101010 !important;
    border-radius: 0px 0px 8px 8px;


}

.progress-custom {
    height: 100%;
    background-color:  var(--secondary-color);
    transition: width 0.2s ease-in-out;
    border-radius: 0px 0px 0px 8px;
}

.card-banner {
    max-height: inherit;
    height: 215px;
    grid-row: 1 / 2;
    grid-column-start: 1;
    
}

.card-details {
    padding-left: 5px;
    max-height: inherit;
    width: inherit;

    grid-row: 1 / 3;

    grid-column: 2 / 3;
    backdrop-filter: blur(1px);
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 0px 8px 0px 0px;
}


.card-banner-image {
    border-radius: 8px 0px 0px 0px;
    max-height: inherit;
}

.card-user {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;

    bottom: 30px;
    right: 0;
    padding-right: 5px;
    position: absolute;
}


.card-user-image {
    border-radius: 50%;
    width: 50px;
    top: 4vh;
    grid-row: 1 / span 2;

}

.card-user-image-default
{
    font-size: large;
}


.card-username {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.card-username a {
    text-decoration: none;
    color: white;
}


.card-username:hover a{

    color: rgb(0, 164, 219);
  }


.card-device {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.card-device-name {
    font-size: small;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.card-device-image {
    max-width: 35px;
    width: 100%;
}

.card-client {
    font-size: small;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.card-item-name {
    bottom: 45px;
    margin-left: 5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


    position: absolute;
}

.card-playback-position {
    bottom: 5px;
}

.device-info {
margin-bottom: 100%;
}

.card-ip {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.card-text >a{
    text-decoration: none !important;
    color: white !important;
  }
  
  .card-text a:hover{
    color:  var(--secondary-color) !important;
  }
  