.show-key
{
  margin-bottom: 20px;;
}



.settings-form {

    color: white;
    width: 100%;

  }

  .settings-submit-button
  {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
  }

  .form-row
  {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    align-items: flex-start;
    gap: 20px;
  }

  .form-row label {
    font-weight: bold;
    font-size: 18px;
  }

  .form-row input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    max-width: 700px;
  }

  /* .settings-form button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
  } */

  .settings-form button:hover {
    background-color: #0d8bf2;
  }

  .submit
  {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .error
  {
    color: #cc0000;
  }

  .success
  {
    color: #4BB543;
  }

  .critical
  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cc0000;

    height: 90vh;
  }