.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  /* z-index: 100; */
  top:0;
  background-color: rgb(10,25,41);
  /* padding-top: 28px; */
  position: sticky;
}

.active
{
  background-color: #308df046 !important;
  transition: background-color 0.2s ease-in-out;
}
.Closed {
  /* composes: sidenav; */
  transition: width 0.3s ease-in-out;
  width: 60px;
  /* padding-top: 28px; */
  /* position: absolute; */

}
.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #B2BAC2;
  text-decoration: none;
  overflow: hidden;
}
.text-open {
  padding-left: 16px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.text-closed {
  /* padding-left: 16px; */
  opacity: 0;
  transition: opacity 0.3s ease-in;

}

.sideitem:hover {
  background-color: #244f7d1c;

}
.menuBtn {
  align-self: center;
  align-self: flex-start;  
  justify-self: flex-end;
  color: #B2BAC2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  width: inherit;
  transition: width 0.3s ease-in;

}

.menuBtn:hover {

  background-color: #244f7d1c;

}

.menuBtn-open {
  width: 100%;
  transition: width 0.3s ease-in;
  
}