

.card{
  border: 0 !important;
  max-width: 300px;
  min-height: 790px;

}

.card-banner
{
  flex-direction: row;
}

.stat-card-image {
  max-width: 100%;
  max-height: 420px;
  height: 100%;


}


.stat-items
{
  color: white;
}

.stat-item-index {
  padding-right: 5px;
  color: grey;
}
.stat-item-count {
  /* width: 10%; */
  text-align: right;
  color: #00A4DC;
  font-weight: 500;
  font-size: 1.1em;

}


.Heading
{
  display: flex;
  margin-bottom: 20px;
}

.Heading h1
{
  padding-right: 10px;
}

.date-range
{
  width: 220px;
  height: 35px;
  color: white;
  display: flex;
  background-color: rgb(100, 100, 100,0.3);
  border-radius: 4px;
  font-size: 1.2em;
  align-self: flex-end;
  justify-content: space-evenly;

}


.date-range .days input
{
  height: 35px;
  outline: none;
  border: none;
  background-color:transparent;
  color:white;
  font-size: 1em;
  width: 40px;
}
.date-range .days
{
  background-color: rgb(255, 255, 255, 0.1);
 padding-inline: 10px;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
input[type=number] {
  -moz-appearance: textfield;
}


.date-range .header,
.date-range .trailer
{
  padding-inline: 10px;
  align-self: center;
}