@import './variables.module.css';
.grid-stat-cards
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 520px));
  grid-auto-rows: 200px;/* max-width+offset so 215 + 20*/
  margin-top: 8px;
  background-color: var(--secondary-background-color);
  border-radius: 8px;
  padding: 20px;
}
.stat-card{
  border: 0 !important;
  background-color: var(--background-color)!important;
  color: white;
  max-width: 500px;
  max-height: 180px;
}

.stat-card-banner
{
  max-width: 120px !important;
}





.stat-card-image {
  width: 120px !important;
  height: 180px;
}

.stat-card-icon
{
  width: 120px !important;


  position: relative;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}


.stat-items
{
  color: white;
}

.stat-item-index {
  padding-right: 5px;
  color: grey;
}
.stat-item-count {
  text-align: right;
  color:  var(--secondary-color);
  font-weight: 500;
  font-size: 1.1em;

}


.Heading
{
  display: flex;
  flex-direction: row;
}

.Heading h1
{
  padding-right: 10px;
}

.date-range
{
  width: 220px;
  height: 35px;
  color: white;
  display: flex;
  background-color:  var(--secondary-background-color);
  border-radius: 8px;
  font-size: 1.2em;
  align-self: flex-end;
  justify-content: space-evenly;

}


.date-range .days input
{
  height: 35px;
  outline: none;
  border: none;
  background-color:transparent;
  color:white;
  font-size: 1em;
  width: 40px;
}
.date-range .days
{
  background-color: rgb(255, 255, 255, 0.1);
 padding-inline: 10px;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
input[type=number] {
  -moz-appearance: textfield;
}


.date-range .header,
.date-range .trailer
{
  padding-inline: 10px;
  align-self: center;
}

.stat-items div a{
  text-decoration: none !important;
  color: white !important;
}

.stat-items div a:hover{
  color:  var(--secondary-color) !important;
}
