.graph
{

    height: 700px;
    color:black !important;
    background-color:rgba(100,100,100,0.2);
    padding:10px;

    border-radius:4px;
    /* text-align: center; */
}



.small
{
    height: 500px;
    
}

.statistics-graphs
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


}

.main-widget
{
    flex: 1;
}

.statistics-widget
{
    flex: 1;
    max-width: 49.5%;
    /* margin-right: 20px; */
}

.chart-canvas {
    width: 100%;
    height: 400px;
  }
  
  @media (min-width: 768px) {
    .chart-canvas {
      height: 500px;
    }
  }
  
  @media (min-width: 992px) {
    .chart-canvas {
      height: 600px;
    }
  }