:root {
    --primary-color: #5a2da5;
    --primary-dark-color: #492385;
    --secondary-color: #00A4DC;
    --background-color: #1e1c22;
    --secondary-background-color: #2c2a2f;
    --tertiary-background-color: #2f2e31;
  }