.libraries-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

}

/* .library-banner-image
{
    border-radius: 5px;
    max-width: 500px;
    max-height: 500px;
} */