@import '../variables.module.css';

.lib-card{
    color: white;
    /* max-width: 400px; */

}

.card-label
{
    color: var(--secondary-color);
}

.card-row .col
{
    margin: 10px;
}


.library-card-image
{
    max-height: 170px;

    overflow: hidden;
    border-radius: 8px 8px 0px 0px;

}
.library-card-banner
{
    object-fit: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.2s ease-in-out;
    max-height: 170px;
    
}

.library-card-banner:hover
{
    opacity: 0.5;
}

.library-card-details
{
    background-color: var(--secondary-background-color) !important;
}


.default_library_image
{
    background-color: var(--secondary-background-color);
    width: 100%;
    height: 170px;
    border-radius: 8px 8px 0px 0px;
}