
.library-card
{
    /* border: solid 1px rgb(87, 87, 87); */
    border-radius: 4px;
    width: 400px;

    /* width: 800px; */

    margin-bottom: 40px;
}


.library-card-banner
{
    width: 400px;
    height: 170px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 4px 4px 0 0;
    transition: all 0.2s ease-in-out;
}

.library-card-banner:hover
{
    opacity: 0.5;
}

.library-card-details
{
    background-color: rgb(100, 100, 100,0.2);
    border-radius:0 0 4px 4px ;
}

.library-card-details div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.library-card-details div .label
{
    color: #00A4DC;
}

.library-card-details div p
{
    margin: 10px;
}


