.libraries-container
{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;


}

.tooltip-icon-button
{
    opacity: 100 !important;
}

.tooltip-icon-button > .tooltip-inner
{
    background-color: transparent;

}

.tooltip .tooltip-arrow::before
{
    border-style: none !important;
}