@import 'pages/css/variables.module.css';
main{
  margin-inline: 20px; 
  /* width: 100%; */
  overflow: auto;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body
{
  background-color: var(--background-color) !important;
  /* background-color: #17151a; */
  color: white;
}

h1{
  color: white;
  font-weight: lighter !important;
  margin: 0 !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2{
  color: white;
  font-weight: lighter !important;
  margin: 0 !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}






@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}



.App-header {
 
  /* min-height: 100vh; */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn-outline-primary
{
  color: white!important;
  border-color: var(--primary-color) !important;
  background-color: var(--background-color) !important;
}

.btn-outline-primary:hover
{
  background-color: var(--primary-color) !important;
}

.btn-outline-primary.active
{
  background-color: var(--primary-color) !important;

}

.btn-outline-primary:focus
{
  background-color: var(--primary-color) !important;

}
