@font-face {
  font-family: 'Railway';
  src: url('/src/pages/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white ;
}

*
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif !important;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  overflow: auto; /* show scrollbar when needed */
}

body::-webkit-scrollbar {
  width: 10px; /* set scrollbar width */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* set track color */
}

body::-webkit-scrollbar-thumb {
  background-color: #8888884d; /* set thumb color */
  border-radius: 5px; /* round corners */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #88888883; /* set thumb color */
}

