.card-user-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.Users > div > div > .form-control {
  color: white !important;
  background-color: var(--secondary-background-color) !important;
  border-color: var(--secondary-background-color) !important;
}

.Users > div > div > .form-control::placeholder {
  color: white !important;
}

.Users > div > div > .form-control:focus {
  box-shadow: none !important;
  border-color: var(--primary-color) !important;
}
