.console-container {
  background-color: black;
  color: white;
  height: 500px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.console-message {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.console-text {
  margin: 0;
  font-family: monospace;
  text-overflow: ellipsis;
  overflow-x: hidden;
}



.console-container::-webkit-scrollbar {
  width: 10px; /* set scrollbar width */
}

.console-container::-webkit-scrollbar-track {
  background-color: transparent; /* set track color */
}

.console-container::-webkit-scrollbar-thumb {
  background-color: #8888884d; /* set thumb color */
  border-radius: 5px; /* round corners */
}

.console-container::-webkit-scrollbar-thumb:hover {
  background-color: #88888883; /* set thumb color */
}
